

.container.contact_container{
    width:58%;
    display:grid;
    grid-template-columns: 35% 58% ;
    gap:12%;
}

.contact_options{
    display:flex;
    flex-direction: column;
    gap:1.2rem;
}

.contact_option{
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:1.2rem;
    border-radius: 1.2rem;
    text-align:center;
    border:1px solid transparent;
    transition:var(--transition);
}

.contact_option:hover {
    background:transparent;
    border-color: black;
}

.contact_option_icon{
    font-size:1.5rem;
    margin-bottom:0.5rem;
}

.contact_option a{
    margin-top:0.7rem;
    display:inline-block;
    font-size:0.8rem;
}

/*==========FORM=========*/
form{
    display:flex;
    flex-direction:column;
    gap:1.2rem;
    width:100%;

}

input,textarea {
    padding:1.5rem;
    border-radius:0.5rem;
    background:transparent;
    border:2px solid black;
    resize:none;
}

/*===========MEDIA QUERIES (MD)=========*/
@media screen and (max-width: 1024px){
    .container.contact_container{
        grid-template-columns: 1fr;
        gap:2rem;
    }
}

/*===========MEDIA QUERIES (SM)=========*/
@media screen and (max-width: 600px){
    .container.contact_container{
        width:var(--container-width-sm);
     
    }
}



