nav{
    background:rgba(0,0,0,0.3);
    width:max-content;
    display:block;
    padding:0.6rem 1.7rem;
    position:fixed;
    border-radius: 3rem;
    z-index:5;
    left:50%;
    transform:translateX(-50%);
    bottom:2rem;
    display:flex;
    gap:0.8rem;
    backdrop-filter:blur(15px);
    height:2.7rem
}

nav a{
    background:transparent;
    padding:0.9rem;
    border-radius: 50%;
    display:flex;
    color: var(--color-light);
    font-size:1.1rem;
}

nav a:hover{
    background: rgba(0,0,0,0.2);
}

 nav a.active{
    background:rgba(0,0,0,0.3);
    /* color:var(--color-white); */
}
