/* .img{
    position:relative;
    
} */

.intro_img{
    position:relative;
}

.hello{
    text-indent: 25px;
}

.intro_container{
    height:max-content;
}

.name_container{
    position:absolute;
    top:200px;
    left:45%;
}

.intro_socials{
    display:flex;
    flex-direction: column;
    gap:0.8rem;
    position:absolute;
    bottom:3rem;
}

.intro_socials::after{
    content:"";
    width:1px;
    height:2rem;
    background:black;
}